<div class="masthead clearfix">
  <div class="inner">
    <a href="/">
      <h3 class="masthead-brand">&lt;/search&gt;</h3>
    </a>
    <nav>
      <ul class="nav masthead-nav">
        <li><a ng-href="/add_urls">Add URLs</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover" ng-controller="SearchFieldController as searchCtrl">
  <h1 class="cover-heading">We'll find everything</h1>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="searchCtrl.searchString"
           ng-cloak ng-keypress="searchCtrl.keyPress($event)">
    <p class="awesome-button">
      <button ng-disabled="searchCtrl.searchString.length === 0"
              class="btn btn-lg btn-default" ng-click="searchCtrl.search()">Search!</button>
    </p>
  </div>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>Made by remarkable people</p>
  </div>
</div>
