{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>&lt;/search&gt</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "frontend/css/style.css" %}">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{% static "frontend/js/vendor/angular-ui-router.min.js" %}"></script>
    <script src="{% static "frontend/js/vendor/underscore-min.js" %}"></script>
    <!-- {% block extra_js %}{% endblock %} -->
    <script src="{% static "frontend/js/pager-service.js" %}"></script>
    <script src="{% static "frontend/js/search-service.js" %}"></script>
    <script src="{% static "frontend/js/app.js" %}"></script>
    <script src="{% static "frontend/js/search-field-controller.js" %}"></script>
    <script src="{% static "frontend/js/search-results-controller.js" %}"></script>
    <script src="{% static "frontend/js/file-urls-controller.js" %}"></script>
    <script src="{% static "frontend/js/file-upload.js" %}"></script>
    <script src="{% static "frontend/js/input-url-directive.js" %}"></script>
    <script src="{% static "frontend/js/add-urls-controller.js" %}"></script>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div ui-view></div>
        </div>
      </div>
    </div>

  </body>
</html>
