{% load staticfiles %}

<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static "frontend/sitemap/style.css" %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static "frontend/sitemap/script.js" %}"></script>
<body>
  <div class="form-group form-inline" id="sitemap-form">
    <input type="text" value="" id="sitemap-input" class="form-control">
    <button type="button" class="form-control btn btn-success" onclick="onButtonClick()">Create sitemap</button>
  </div>
  <div id="body">

  </div>
</body>
